@import url("reset.css");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700;800&display=swap');

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

main,
.main__container {
    height: 100%;
}

.citi {
    position: relative;
    width: 100%;
    height: 100%;
    background-image: url('../img/citi.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
}



.bus {
    position: relative;
    width: 820px;
    height: 240px;
    margin: 60px auto;
    background: #56ff4d;
    border-radius: 30px 18px 16px 16px;
    box-shadow: 0 18px 0 rgba(206, 206, 206, 0.79);
    animation: shake 0.4s ease-in-out infinite;
    transform-style: preserve-3d;
    backface-visibility: hidden;
}

@keyframes shake {
    0% {
        transform: translate(0, 0);
    }

    25% {
        transform: translate(0.5px, -0.5px);
    }

    50% {
        transform: translate(-0.5px, 0.5px);
    }

    75% {
        transform: translate(0.5px, 0.5px);
    }

    100% {
        transform: translate(0, 0);
    }
}



.windows1,
.windows2,
.windows3,
.windows4 {
    position: absolute;
    top: 18px;
    height: 100px;
    width: 150px;
    background: rgba(32, 169, 255, 0.4);
    border-radius: 6px;
    opacity: 0.7;
}

.windows1 {
    left: 36px;
}

.windows2 {
    left: 200px;
}

.windows3 {
    left: 364px;
}

.windows4 {
    left: 685px;
    height: 150px;
    width: 130px;
}



.pasagir1,
.pasagir2,
.pasagir3,
.pasagir4 {
    position: absolute;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.pasagir1,
.pasagir2,
.pasagir3 {
    top: 5px;
    left: 30px;
    height: 100px;
    width: 100px;
}

.pasagir4 {
    top: 0px;
    left: -5px;
    height: 150px;
    width: 150px;
}

.pasagir1 {
    background-image: url('../img/passenger_man.png');
}

.pasagir2 {
    background-image: url('../img/passenger_child.png');
}

.pasagir3 {
    background-image: url('../img/passenger_woman.png');
}

.pasagir4 {
    background-image: url('../img/driver.png');
}



.door_left,
.door_right {
    position: absolute;
    top: 40px;
    width: 50px;
    height: 200px;
    background: #ffd54a;
    border-radius: 10px;
    box-shadow: inset 0 0 0 8px #121212;
}

.door_left {
    left: 570px;
}

.door_right {
    left: 624px;
}


.wheel_left,
.wheel_right {
    position: absolute;
    top: 190px;
    width: 100px;
    height: 100px;
    background: #32392f;
    border-radius: 50%;
    border: 10px dashed #000;
    background-clip: content-box;
    animation: spin 3s linear infinite;
}

.wheel_left {
    left: 100px;
}

.wheel_right {
    left: 700px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}



.bumper {
    position: absolute;
    left: -5px;
    top: 180px;
    width: 20px;
    height: 34px;
    background: #ff1919;
    border-radius: 8px;
}

.side-light {
    position: absolute;
    right: -5px;
    top: 180px;
    width: 24px;
    height: 25px;
    background: #ffe100;
    border-radius: 4px;
}



.avtobus {
    position: absolute;
    left: 650px;
    top: 350px;
    transform-origin: center bottom;
    animation: drive-seq 5s ease-in-out infinite;
}

@keyframes drive-seq {
    0% {
        transform: translateX(-100%) scale(0.9);
        opacity: 1;
    }

    45% {
        transform: translateX(-30%) scale(0.9);
        opacity: 1;
    }

    80% {
        transform: translateX(-30%) scale(0.9);
        opacity: 1;
    }

    100% {
        transform: translate(-30%, -300%) scale(0.25) rotateX(90deg);
        opacity: 0;
    }
}