@import url("reset.css");

.title {
	color: blue;
}

/* якщо розкоментувати то буде діяти тому що нище по коду  [class*="tit"] {
	color: rgb(13, 146, 13);
} */

.list .sub-list {
	color: rgb(129, 108, 245);
}

h2 {
	color: rgb(0, 255, 21);
}

.info-ukraine h2 {
	color: rgb(0, 183, 255);
}

.info-ukraine > p {
color: rgb(230, 226, 2);
}

.title-h2-culture h2 {
	color: red;
}

.title-h2-culture, .text-culture  {
	color: rgb(233, 88, 88);
}

 a { 
	color: rgb(132, 0, 255);
	text-decoration: underline;
}

.text-history * {
color: rgb(162, 71, 247);
}

.title-h2-history > h2 {
color: rgb(3, 0, 161);

}

.text-kitchen > p {
	color: rgb(146, 87, 119);
	}

	#kichenbor {
	color: rgb(131, 5, 5);
}
	
p.text-travel {
	color: rgb(41, 12, 110);
	
}

#text-trav, .text-list {
	color: rgb(0, 116, 116);
}


.green-color {
	color: green;
}

